/* Load Inter from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Tailwind v4 */
@import "tailwindcss";

/* Apply globally */
/*
html { font-family: "Inter", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
	"Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji",
	"Segoe UI Symbol", "Noto Color Emoji", sans-serif; }
*/
html {font-family: "Inter";}
html, body { overflow-x: hidden; overflow-y: hidden; }